<nav class="container-fluid">
  <h2 class="navItem">Greek mythos</h2>
  <a href="/home" class="navItem links">Homepage</a>
  <a href="/home/majorOlympians" class="navItem links">Major olympians</a>
  <a href="/home/twelveTitan" class="navItem links">Twelve titans</a>
  <form action="/home/overview">
    <input
      type="text"
      placeholder="Search"
      class="navItem searchForm"
      name="name"
    />
    <button class="navItem searchButton">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F439%2F591%2Foriginal%2Fvector-find-icon.jpg&f=1&nofb=1"
        alt=""
        class="searchIcon"
      />
    </button>
  </form>
</nav>
