<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%-include('partials/nav') %>
    <main class="container">
      <p class="text notFoundText">
        Sorry we couldn't find the character you were looking for
      </p>
    </main>
  </body>
</html>
